!!! Strict
%html{ :xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en' }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => "text/html;charset=utf-8" }
    %meta{ :name => "author", :content => "Your Name" }
    %link{ rel: 'stylesheet', type: 'text/css', href: '/stylesheets/app.scss' }
    %link{ rel: 'stylesheet', type: 'text/css', href: '/stylesheets/screen.css' }
    %title
      / this page needs a title!
  %body
    .row
      #container.twelve.columns
        .row
          #header.nine.columns.offset-by-one.center-content
            %h1
              / insert main site title
        .row
          #section.nine.columns.offset-by-one.center-content
            {{ content }}
