<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html;charset=utf-8' http-equiv='Content-Type' />
    <meta content='Your Name' name='author' />
    <link href='/stylesheets/app.scss' rel='stylesheet' type='text/css' />
    <link href='/stylesheets/screen.css' rel='stylesheet' type='text/css' />
    <title>
      <!-- this page needs a title! -->
    </title>
  </head>
  <body>
    <div class='row'>
      <div class='twelve columns' id='container'>
        <div class='row'>
          <div class='nine columns offset-by-one center-content' id='header'>
            <h1>
              <!-- insert main site title -->
            </h1>
          </div>
        </div>
        <div class='row'>
          <div class='nine columns offset-by-one center-content' id='section'>
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
